<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.lunchproject1.model.dao.BoardDAO">
    <insert id="insertBoard" parameterType="BoardVO">
        insert into board(title, content, id, nickname, star, category, mapX, mapY, store)
        values(#{title},#{content},#{id},#{nickname},#{star},#{category},#{mapX},#{mapY},#{store})
    </insert>

    <insert id="insertPicture" parameterType="BoardVO">
        insert into picture(boardno,picture) values(#{no},#{picture})
    </insert>

    <insert id="insertHeart" parameterType="BoardVO">
        insert into favorite(no,id) values(#{no},#{id})
    </insert>

    <select id="getAllBoard" resultType="BoardVO">
        select * from board
    </select>

    <select id="getBoard" parameterType="BoardVO" resultType="BoardVO">
        select B.*, if(F.no is null, 0,1) as isFav from board B
        left join favorite F
        on B.no = F.no
        and F.id = #{id}
        where B.no= #{no}
    </select>

    <select id="selBoardNo" resultType="int" parameterType="BoardVO">
        select no from board where store = #{store}
    </select>

    <select id="getPicture" resultType="String" parameterType="int">
        select picture from picture where boardno = #{no}
    </select>

    <delete id="delBoard" parameterType="BoardVO">
        delete from board where no = #{no} and id = #{id}
    </delete>

    <delete id="removeHeart" parameterType="BoardVO">
        delete from board where no = #{no} and id = #{id}
    </delete>

    <delete id="delPicture" parameterType="BoardVO">
        delete from picture where boardno = #{no}
    </delete>

    <update id="modBoard" parameterType="BoardVO">
        update board set title = #{title}, content = #{content}, star=#{star}, category = #{category}, reg_dt = now(),
                         mapX=#{mapX},mapY=#{mapY}, store=#{store} where no = #{no} and id = #{id}
    </update>

    <update id="upReadCount" parameterType="BoardVO">
        update board set readcount = readcount + 1 where no = #{no}
    </update>

</mapper>